/*
* @Author: hp
* @Date:   2018-08-29 11:30:14
* @Last Modified by:   hp
* @Last Modified time: 2018-08-29 17:40:46
*/
html body{
	font-family: "微软雅黑";
}
nav{
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
}
nav .con_l{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
nav .con_l a.left{
	width: 228px;
	height: 39.95px;
	background-image: url('../img/1.jpg');
	background-size: cover;
	margin-top: 20px;
}
nav .con_l .list a{
	float: left;
    height: 80px;
    text-align: center;
    color: #404040;
    line-height:80px;
    font-size: 16px;
    margin-left: 79px;
}
nav .con_l .list a:hover{
	background-color: #337ab7;
	color: #ffffff;
	text-decoration: none;
}
nav .con_l .list a.icon{
	display: none;
}
.banner{
	text-align: center;
    overflow: hidden;
    position: relative;
    display: block;
}
.banner img{
	display: block;
    margin: auto;
    width: 100%;
}
.con .top .out_img{
	width: 350px;
	height: 35px;
	position: absolute;
	margin-top: -170px;
}
.con{
	max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    position: relative;
}
.con .left{
	width: 217px;
    float: left;
    border-right: 1px solid #f5f5f5;
}
.con .left .top{
	background: url('../img/left_top.jpg') no-repeat;
    min-height: 180px;
    padding-top: 100px;
    position: relative;
}
.con .left .top span{
	font-size: 27px;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    width: 100%;
    display: block;
    overflow: hidden;
    color: #fff;
    padding: 0px 20px;
}
.con .left .nav_left{
	border-left: 8px solid #e5e5e5;
    padding: 0px 6px;
    position: relative;
}
.con .left .nav_left li{
	border-bottom: 1px solid #e5e5e5;
    padding: 0px 30px;
    position: relative;
}
.con .left .nav_left .active a{
	color: #0d6fb8;
    font-weight: 700;
}
.con .left .nav_left li a{
	font-size: 14px;
    color: #666666;
    font-family: "微软雅黑";
    display: block;
    width: 100%;
    padding-right: 12px;
    overflow: hidden;
    height: 54px;
    line-height: 54px;
    background: url('../img/li_san.png') right center no-repeat;
}
.con .left .nav_left li a:hover{
	color: #0d6fb8;
	text-decoration: none;
}
.con .left .pro_lei{
	border: 1px solid #f5f5f5;
    margin-top: 40px;
}
.con .left .pro_lei .top_g{
	background: #0d6fb8 url('../img/li_lei.png') no-repeat 20px center;
    padding-left: 40px;
    height: 38px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 38px;
}
.con .left .pro_lei ul{
	padding: 20px;
}
.con .left .pro_lei ul li a{
	color: #686868;
    font-size: 13px;
    line-height: 27px;
    height: 27px;
    overflow: hidden;
    display: block;
    background: url('../img/li_dian.jpg') no-repeat left center;
    padding-left: 10px;
}
.con .left .pro_lei ul li a:hover{
	color: #0d6fb8;
	text-decoration: none;
}
.con .right{
	width: 80%;
    float: right;
}
.con .right .bax{
	border-bottom: 1px solid #eaeaea;
    padding: 30px 0px 10px;
}
.con .right .bax .b_tt{
	float: left;
    font-size: 20px;
    color: #1f1f1f;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 20%;
    overflow: hidden;
    margin-top: -20px;
}
.con .right .bax .curbar{
	float: right;
    text-align: right;
    font-size: 12px;
    color: #6e6e6e;
    width: 78%;
    vertical-align: middle;
    margin-top: -12px;
}
.con .right .bax .curbar i{
	font-style: normal;
    max-width: 100px;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
}
.con .right .bax .curbar a{
	/* max-width: 100px; */
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    color: #333333;
    text-decoration: none;
}
.con .right .pro_p{
	line-height: 24px;
    color: #666;
    font-size: 13px;
    margin: 4% 0px;
}
.con .right .zu li{
	border: 5px solid #eaeaec;
    width: 30.6%;
    float: left;
    padding: 20px;
    margin-bottom: 4%;
    margin-right: 4%;
}
.con .right .zu .pic{
	position: relative;
    display: block;
    overflow: hidden;
}
.con .right .zu .pic .tp{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    vertical-align: middle;
    margin: auto;
}
.con .right .zu .pic i{
	display: block;
}
.con .right .zu .text{
	text-align: center;
}
.con .right .zu .text p{
	text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 30px;
    height: 30px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.con .right .zu .text a{
	font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: #0d6fb8;
    padding: 5px 18px;
    border-radius: 10px;
    text-decoration: none;
}
.con .right .page{
	text-align: center;
    padding: 4% 0px;
    margin-top: 45%;

}
.con .right .page .active{
	background: #0d6fb8;
    color: #fff;
}
.con .right .page a{
	border: 1px solid #e8e8e8;
    background: #f8f8f8;
    color: #898989;
    font-size: 12px;
    font-family: arial;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
}
footer{
    width: 100%;
    background: #2c2f34;
    position: relative;
}
fottom .com{
    max-width: 1200px;
    width: 98%;
    margin: auto;
    padding: 3% 0px;
}
footer .com ul{
    float: left;
    width: 55%;
    margin-top: 56px;
}
footer .com ul li{
    width: 25%;
    float: left;
    border-left: 1px solid #424449;
    padding-left: 15px;
}
footer .com ul li .tit{
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
}
footer .com ul li a{
    display: block;
    color: #97989a;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    width: 100%;
}
footer .com ul li a:hover{
    color: #337ab7;
    text-decoration: none;
}
footer .right{
    width: 40%;
    float: right;
}
footer .right .er{
    width: 105.6px;
    float: left;
}
footer .right .er img{
    border: 1px solid #606060;
    padding: 10px;
    margin-top: 30px;
}
footer .right .er span{
    display: block;
    line-height: 25px;
    height: 25px;
    color: #aeaeae;
    font-size: 12px;
    text-align: center;
}
footer .right .dian{
	width: 40%;
    float: right; 	
    margin-top: 60px;
}
footer .right .dian img{
    float: left;
}
footer .right .dian .rt{
	float: left;
}
footer .right .dian a{
    display: block;
    color: #ffffff;
    font-size: 1em;
}
footer .right .dian span{
    display: block;
    color: #fff;
    font-size: 14px;
}
footer .bottom{
	width: 100%;
	height: 41px;
    margin: auto;
    border-top: 1px solid #97989a;
    color: #505256;
    font-size: 12px;
    margin-top: 230px;
}
footer .copy{
   max-width: 1200px;
    width: 98%;
    margin: auto;
}
footer .copy span{
    width: 60%;
    display: inline-block;
    line-height: 20px
}
footer .copy span a{
    color: rgb(139, 147, 157);
}
footer .copy .ya{
    float: right;
}
footer .copy .ya img{
    width: 25px;
    height: 25px;
}





@media (max-width: 1100px){
	.con .right{
		width: 75%;
	}
}
@media (max-width: 992px){
    .con .right{
    	width: 70%;
    }
}
@media screen and (max-width: 768px){
	nav .con_l .list a.text{
		display: none;
	}
	nav .con_l .list a.icon{
		display: inline;
	}
	.con .right{
		width: 65%;
	}
	.con .right .page{
		margin-top: 50%;
	}
	footer .com ul li{
		display: none;
	}
	footer .right{
		width: 100%;
		margin-top: -20px;
	}
}
@media (max-width: 640px){
    .con .right{
    	width:100%;
	    padding-right:0;
    }
    .con .left{
    	display: none;
    }
    .con .right .page{
    	margin-top: 50%;
    }
}